.conteiner {
   max-width: 1280px;
   margin: 0 auto;
}
.header {
   display: flex;
   justify-content: space-between;
   margin-top: 28px;
   align-items: center;
   margin-bottom: 112px;
}
.nav {
   display: flex;
   margin-right: 40px;
}
.nav-bar {
   display: flex;
   list-style-type: none;
}
.nav-bar li {
   margin-right: 32px;
}
.nav-bar li:last-child {
   margin-right: 0px;
}
.center {
   display: flex;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
}
.profile {
   display: flex;
   margin: 0 auto;
   align-items: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 32px;
}
.profile nav {
   margin: 0;
}
.profile img {
   margin-right: 8px;
}
.profile-name {
   margin-right: 24px;
}
.photo {
   max-width: 1280px;
   margin-bottom: 80px;
}
.attan {
   max-width: 752px;
   margin: 0 auto;
}
.text {
   margin-top: 24px;
}
.myh1 {
   font-family: 'Poppins' sans-serif;
   font-size: 64px;
   font-weight: 600;
   line-height: 72px;
   letter-spacing: -3%;
   margin: 0;
   margin-bottom: 32px;
}
.myh2 {
   font-size: 48px;
   font-weight: 600;
   line-height: 56px;
   letter-spacing: -3%;
   font-family: 'Poppins' sans-serif;
}
p {
   font-family: 'Poppins' sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 28px;
}